.form {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.formSignUp .form input[type='submit'] {
  margin: 30px auto;
  padding: 20px;
  background-color: #07689F;
  color: white;
  font-size: 18px;
  border: 1px #07689F solid;
  border-radius: 8px;
}
.formSignUp input[type='text'],
.formSignUp input[type='email'],
.formSignUp input[type='password']
 {
  padding: 14px;
  border: 1px grey solid;
  border-radius: 8px;
}
label {
  margin: 18px 0;
  font-size: 18px;
}
.formSignUp h1 {
  text-align: center;
}
