/* Common */

body {
  margin: 0;
  padding: 0;
  color: #07689F;
  font-family: 'Raleway', sans-serif;

}
h1 {
  font-size: 46px;
  margin-left: 28px;
}
h2 {
  font-size: 22px;
}

/* HOMEPAGE */

.presentation p {
  margin-left: 48px;
  font-size: 18px;
}
.presentation  p:nth-of-type(2) {
  margin-left: 210px
}
.presentation  p:nth-of-type(3) {
  margin-left: 340px
}
a {
  text-decoration: none;
  color:#07689F;
  font-size: 38px;
  font-weight: bold;
  cursor: pointer;
}
.logo {
  width: 150px;
  height: 150px;

}
.pictureHomePage {
  margin: 24px 180px;
  width: 610px;
  height: 610px;
}
.top h2 {
  margin: 60px 40px;
}
.top ol {
  counter-reset: listSyle;
  margin-bottom: 290px;
}
.top ol li {
  list-style-type: none;
  counter-increment: listSyle;
  margin-bottom: 45px;
}
.top ol li:before {
  content: counter(listSyle);
  padding: 16px 26px;
  margin-right: 8px;
  vertical-align: top;
  background: #07689F;
  -moz-border-radius: 60px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 0.8em;
  color: white;
}
nav {
  width: 100%;
  position: fixed;
  bottom: 0;
}
 nav ul {
   padding: 24px;
   margin: 0;
   display: flex;
   list-style: none;
   justify-content: space-around;
   align-items: center;
   background-color: #DBECF5;
 }
 nav ul li a img {
   width: 135px;
   height: 135px;
 }
 nav .imgNav {
   width: 100%;
   margin-bottom: -140px;
 }

 /* USER PROFIL */

 .userInfoPerso {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .userInfoPerso img {
   width: 190px;
   height: 190px;
 }
 .userInfoPerso p {
   line-height: 4px;
 }
 .userInfoPic {
   display: flex;
   justify-content: space-evenly;
 }
 .userInfoPic p {
   text-align: center;
   padding: 16px 26px;
   margin-right: 8px;
   vertical-align: top;
   background: #07689F;
   -moz-border-radius: 60px;
   border-radius: 20px;
   font-weight: bold;
   font-size: 0.8em;
   color: white;
 }
 .suggestions h1 {
   text-align: center;
 }
 .cardHeart {
   width: 70%;
   margin: 18px auto;
   padding: 18px;
   border-radius: 10px;
   box-shadow:  20px 20px 60px #DBECF5,
                -20px -20px 60px #ffffff;
   display: flex;
   justify-content: center;
   align-items: center;
   
 }
 .cardHeart div {
   flex: 1 1 50%;
 }
 .cardHeart span svg {
   fill: #DB5723;
   width: 50px;
 }
 .cardHeart span img{
   width: 55px;
   height: 55px;
 }

 /* SUBMIT */


.formSection {
  margin-top: 180px;
}
.formSection h1{
   text-align: center;
}
.form {
   display: flex;
   flex-direction: column;
   width: 55%;
   margin: 0 auto;
 }
 label {
   margin: 16px 0;
 }
